@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.activeBtn {
  @apply shadow-lg shadow-inherit opacity-100 border-b border-blue-400;
}

.ant-modal-content {
  display: block;
  background-color: black;
}
